# ==========================================
# OPENMRS 3 & MARIADB CONFIGURATION
# ==========================================
OPENMRS_GATEWAY_PORT=8080
OPENMRS_URL=http://localhost:8080
OPENMRS_USER=admin
OPENMRS_PASS=Admin123

MYSQL_DATABASE=openmrs
MYSQL_USER=openmrs
MYSQL_PASSWORD=openmrs_secure_db_pass
MYSQL_ROOT_PASSWORD=root_secure_pass

# ==========================================
# ODOO 19 & POSTGRESQL CONFIGURATION
# ==========================================
ODOO_PORT=8069
ODOO_URL=http://localhost:8069
ODOO_DB=clinic_db
ODOO_USER=admin
ODOO_PASS=admin
ODOO_API_KEY=1f4624cfdc7ce0fea669677b8ff485ad087f720c

POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo_secure_db_pass
POSTGRES_DB=postgres

# ==========================================
# N8N INTEGRATION ENGINE CONFIGURATION
# ==========================================
N8N_PORT=5678
N8N_URL=http://localhost:5678
N8N_PROTOCOL=http
N8N_HOST=localhost
WEBHOOK_URL=http://localhost:5678/
GENERIC_TIMEZONE=Africa/Windhoek
